.header {
    padding-top: 2%;
    text-align: center;
    font-family: 'Just Another Hand', cursive;
    font-size: 4rem;
    background-image: url(Assets/sea-of-clouds-sunrise-wallpaper-2086748.jpg);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-image: center;
}

