.col-8 {
    background: url("Assets/light-sea-dawn-landscape-33545.jpg") no-repeat center fixed;
    background-size: cover;
}


.navbar-brand {
    font-size: 36px;
}

.search-header {
    font-size: 24px;
    font-weight: bold;
}

.city-name {
    font-size: 30px;
}

.forecast-date {
    font-size: 18px;
}







