.navbar-brand {
    font-size: 36px;
}

.search-header {
    font-size: 24px;
    font-weight: bold;
}

.city-name {
    font-size: 30px;
}

.forecast-date {
    font-size: 18px;
}

@media only screen and (min-width: 1200px) {
    /* styles for wide screens */
}


