body {
    background: url("Assets/sea-of-clouds-sunrise-wallpaper-2086748.jpg");
}

.navbar-brand {
    font-size: 40px;
}

.navbar {
    background-color: dodgerblue;
}

.search-header {
    font-size: 24px;
    font-weight: bold;
}

.city-name {
    font-size: 30px;
}

.forecast-date {
    font-size: 18px;
}

.search-header {
    font-family: 'Sedgwick Ave', cursive;
}

.navbar {
    font-family: 'Sedgwick Ave', cursive;
}



