body {
    width: 100%;
    height: 100%;
    background-image: url("Assets/sea-of-clouds-sunrise-wallpaper-2086748.jpg");
    background-size: 100% 100%;
    background: cover no-repeat;
}

.navbar-brand {
    font-size: 40px;
}

.navbar {
    background-color: dodgerblue;
}

.search-header {
    font-size: 24px;
    font-weight: bold;
}

.city-name {
    font-size: 30px;
}

.forecast-date {
    font-size: 18px;
}

.search-header {
    font-family: 'Sedgwick Ave', cursive;
}

.navbar {
    font-family: 'Sedgwick Ave', cursive;
}



